
  <div class="container">
    <% @flats.each do |flat| %>
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 20rem; margin: 20px;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1565022092850-956424586770?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80" alt="Card image cap">
            <div class="card-body">
              <div>
                <h5 class="card-title"><%= flat.name %></h5>
              </div>
                <p class="card-text"><%= flat.description %></p>
              <div class='flex'>
                <i class='material-icons mr-2'><%= flat.number_of_guests%></i>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


